let mapleader=',' 
set surround
set hidden
set autoindent
set cindent
set cursorline
set expandtab
set hls
set incsearch
set number
set relativenumber 
set shiftwidth=2 
set showcmd
set smarttab
set smartcase
set softtabstop=0
set tabstop=2
set wrap

" General Mappings
nnoremap <Leader>" viw<Esc>a"<Esc>bi"<Esc>lel
vnoremap <Leader>' <Esc><Esc>`>a"<Esc>`<i"<Esc>`>lel
nnoremap <Leader>vs  :vsplit<CR>
nnoremap <Leader>hs  :split<CR>
nnoremap <C-k> :noh<CR>

inoremap <special> jk <Esc>
set timeoutlen=100
